body {
    margin: 0;
    padding: 0;
    background-color: #3F4F44;
    overflow: hidden;
}

header {
    background-color: #005F20;
}
header .contentofthebar{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    height: 100%;
    align-items: center;
    height: 20%;
}

header .title {
 
   font-size: 40px;
 
}

header .title a{
    text-decoration: none;
    color: #1D1616;
    font-weight: bold;
    font-family: Knewave;
    letter-spacing: 3px;
    
    
}

header .contentofthebar .rightbar {
    display: flex;
}

header .contentofthebar .rightbar .forhone {
    height:50px;
    width: 50px;
 

    margin-right: 10px;
}

header .contentofthebar .rightbar .forhone a {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    font-family: Knewave;
}


header .contentofthebar .rightbar .forhone a i {
    margin-left: 10px;
    
}

header .contentofthebar .rightbar .forbuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
}


header .contentofthebar .rightbar .forbuttons  button {
    background-color: red;
    color: aliceblue;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-weight: bolder;
    font-family: sans-serif;
    letter-spacing: 1px;
    

}

main {
    width: 75%;
    margin: auto;
    height: 100vh;

    display: flex;
}
main section {
    background-color: #8888882c;
    width: 20%;
    height: 100%;
    border-radius: 30px;
  

}
main section .ppp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: green;
    height: 50px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    

}

main section .ppp  i {
    margin-right: 10px;
}

main section  .mesgfrom {
    width: 90%;
    margin: auto;
    overflow: auto; 
    height: 80vh;
}



main section  .mesgfrom::-webkit-scrollbar {
    width: 8px; 
}


main section  .mesgfrom::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

main section  .mesgfrom::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

main section  .mesgfrom::-webkit-scrollbar-thumb:hover {
    background: #555; 
}   

main section  .mesgfrom  button {
    width: 90%;
    height: 40px;
    background-color: bisque;
    display: block;
    border-radius: 20px;
    margin-top: 20px;
    color: #2C3930;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

main section  .mesgfrom i {
    margin-right: 10px;
}

main section .mesg {
    position: absolute;
    
    height: 300px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
   
    margin-left: 600px;
    
}
main article {
    width: 60%;
    height: 100%;
    
    padding-left: 40px;
    
}


main article button {
    background-color: rgb(206, 67, 67);
    width: 30%;
    height: 50px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    margin-top: 20px;
    
    
}


main article .potess {
    margin-top: 20px;
    overflow: auto; 
    height: 80vh;
}


main article .potess::-webkit-scrollbar {
    width: 8px; 
}

main article .potess::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

main article .potess::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

main article .potess::-webkit-scrollbar-thumb:hover {
    background: #555; 
}    

main article .potess .post {
    margin-left: 30px;
    width: 90%;
    height: 250px;
    background-color: #A27B5C;
    margin-top: 30px;
    border-radius: 20px;
}
