<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css"> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
     integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet'>
    <title>Wellcome</title>
</head>
<body>
   <!-- <script type="module" src="../js/script.js"></script>
    <div id="contne">
        hello
    </div>
-->
    <header>
        <div class="contentofthebar">
            <div class="title" > <a href="/">Wellcome</a></div>

            <div class="rightbar">
                <div class="forhone">
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>
                </div>
                <div class="forbuttons">
                    <form action="">
                        <button>
                            <i class="fa-solid fa-right-to-bracket"></i>
                            login
                        </button>
                    </form>
        
                    <form action="">
                        <button>
                            <i class="fa-solid fa-user-plus"></i>
                            register
                        </button>
                    </form>
                </div>                
               
            </div>
        </div>
    </header>

    <main>
        
        <section>
            
            <p class="ppp">  <i class="fa-solid fa-bell"></i>you chats</p> 
            <div class="mesgfrom">
                <button popovertarget="create-post" >
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>

                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                <button>
                    <i class="fa-regular fa-message"></i>  youssef    
                </button>
                
            </div>
            <div id="create-post" popover class="mesg">
                hhhhhhhhhh
            </div>
        </section>

        <article>
            <button>
                <i class="fa-solid fa-square-plus"></i> creatpost
            </button>
            <div class="potess">
                <div class="post">
                   <div class="userbar">
                       <ul>
                            <div class="imageandname">
                                <li class="userimage"><i class="fa-solid fa-user"></i></i></li>
                                <li  class="username">{{.CreatedBy}}</li>
                            </div>
                            <li class="creatdate">creat at : {{.Date}}</li>
                       </ul>
                   </div>
                   <div class="content">
                         <h2> {{.Title}} </h2>
                         <p>
                             {{.Content}}
                         </p>
                    </div>
                    <div class="categoryandlikes">
                        <div class="category">
                            <p>categorys:{{.Categories}}</p>
    
                        </div>
                        <div class="likes">
                            <div class="like">
                                <span>{{.Like}}</span>
                                <form action="/addlike" method="post">
                                  <input style="display: none" checked value="{{.ID}}" name="postID" type="text" />
                                  <input style="display: none" checked value="like" name="status" type="text" />
                                  <button type="submit">
                                    {{if .UserLiked}}
                                    <i class="fa-solid fa-thumbs-up likecolor"></i>
                                    {{else}}
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    {{end}}
                                  </button>
                                </form>
                              </div>
                              <div class="like">
                                <span>{{.Dislike}}</span>
                                <form action="/addlike" method="post">
                                  <input style="display: none" checked value="{{.ID}}" name="postID" type="text" />
                                  <input style="display: none" checked value="dislike" name="status" type="text" />
                                  <button type="submit">
                                    {{if .UserDisliked}}
                                    <i class="fa-solid fa-thumbs-down likecolor"></i>
                                    {{else}}
                                    <i class="fa-regular fa-thumbs-down"></i>
                                    {{end}}
                                  </button>
                                </form>
                              </div>
                              <div class="like">
                                <span>{{.NemberOfComment}}</span>
                                
                                <button popovertarget="comments-{{.ID}}" >
                                    <i class="fa-solid fa-comments"></i>
                                </button>
                              </div>
                              <div class="creatcomment" popover id="comments-{{.ID}}">
                                <div style="background-color: #00e20b;">
                                    {{range .Comments}}
                                       <p>{{.Content}}</p>
                                    {{end}}
                                </div>
                                <form action="/addComment" method="post">
                                    <input type="text" style="display: none" value="{{.ID}}" name="postID">
                                    <input type="text" name="comment" placeholder="write the comment">
                                   <button type="submit">nnnn</button>
                                </form>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </article>

        <aside>
            settings
        </aside>

    </main>


    
</body>
</html>